@model ProyectoVentasAB.Models.tblCategorias

@{
    ViewData["Title"] = "Categoria";
}

<div class=" col-md-6 offset-md-3 col-sm-9 offset-md-1">
    <div class="card">
        <div class="card-header bg-warning">
            <h3 class="card-title text-center">Editar Categoría</h3>
        </div>
        <div class="card-body">
                <form asp-action="Edit" class="col-sm-9 col-md-9 offset-sm-1 offset-md-1">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="IdCategoria" />
                    <div class="form-group">
                        <label asp-for="NombreCategoria" class="control-label"></label>
                        <input asp-for="NombreCategoria" class="form-control" />
                        <span asp-validation-for="NombreCategoria" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Descripcion" class="control-label"></label>
                        <textarea asp-for="Descripcion" class="form-control" rows="10"></textarea>
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <hr />
                        <input type="submit" value="Guardar" class="btn btn-success" />
                        <a asp-action="Index" class="btn btn-warning">Regresar!</a>
                    </div>
                </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
