@model ProyectoVentasAB.Models.tblVentas

@{
    ViewData["Title"] = "Create";
}

<br />
<div class="row">


    <div class="card ">
        <div class="col-lg-12">
            <form asp-action="Create" class="col-12 form-inline">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-lg-12">
                    <table class="table">
                        <thead class="bg-primary">
                            <tr>
                                <td colspan="3" class="text-center text-uppercase"><h4>Datos</h4></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="date" name="fecha" id="fecha" asp-for="FechaVenta" class="form-control" />
                                </td>

                                <td>
                                    <select asp-for="IdTienda" class="form-control custom-select-lg" asp-items="ViewBag.IdTienda" id="IdTienda" name="IdTienda"></select>
                                    <span asp-validation-for="IdTienda" class="text-danger"></span>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12">
                    <table class="table">

                        <thead class="alert-link">
                            <tr>
                                <td colspan="3" class="text-center text-uppercase"><h4>Producto</h4></td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    <select name="idProducto" asp-for="IdProducto" class="form-control">
                                        @foreach (var producto in ViewBag.Producto)
                                        {
                                            <option value="@producto.IdProducto">@producto.NombreProducto</option>
                                        }
                                    </select>

                                    <input type="text" placeholder="idProducto" name="idPro" id="idPro" class="form-control" readonly />

                                </td>

                                <td>
                                    <input type="text" placeholder="Dato" name="dato" id="dato" class="form-control" readonly />

                                    <input type="number" placeholder="cantidad" name="cantidad" id="cantidad" asp-for="Cantidad" class="form-control" />

                                  @*  <input type="hidden" placeholder="cantidadTotal" name="cantidadTotal" id="cantidadTotal" asp-for="Cantidad" class="form-control" />*@
                                    <span asp-validation-for="Cantidad" class="text-danger"></span>
                                </td>

                                <td>
                                    <input type="number" placeholder="Precio" name="precio" id="precio"  asp-for="Precio" class="form-control" />

                                    @*<input type="hidden" placeholder="PrecioT" name="precioT" id="precioT" asp-for="Precio" class="form-control" />*@
                                    <span asp-validation-for="Precio" class="text-danger"></span>

                                    <input id="btnEnviar" class="btn btn-primary form-control" name="Enviar" value="Enviar" />
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <div class="col-lg-12">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead class="alert-info">
                                    <tr>
                                        <td>#</td>
                                        <td>Nombre</td>
                                        <td>Cantidad</td>
                                        <td>Precio $</td>
                                        <td>SubTotal $</td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody id="fila">
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <input type="hidden" class="form-control" name="subt1" id="subt1" value="0" />
                                        </td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            <table class="col-12">
                                <tr>
                                    <td> <label asp-for="Total">Total: $</label></td>
                                    <td><input type="number" asp-for="Total" name="total" id="total" class="form-control col-6" readonly /></td>
                                    @*<td><input type="submit" value="Vender" class="btn btn-primary form-control" /></td>*@
                                    <td><button class="btn btn-success btn-block" name="btnEnviarF" id="btnEnviarF">Vender</button></td>
                                    <td><a asp-action="Index" class="btn btn-warning btn-block">Regresar!</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>



                    <div class="form-group">
                        <input type="hidden" asp-for="SubTotal" id="subTotal" readonly />
                        <span asp-validation-for="SubTotal" class="text-danger"></span>
                        @*<input type="hidden" placeholder="PrecioT" name="precioT" id="PrecioT" asp-for="Precio" class="form-control" readonly />
                        <span asp-validation-for="Precio" class="text-danger"></span>
                        <input type="hidden" placeholder="cantidadTotal" name="cantidadTotal" id="cantidadTotal" asp-for="Cantidad" class="form-control" readonly />
                        <span asp-validation-for="Cantidad" class="text-danger"></span>*@
                    </div>

                </div>
            </form>
        </div>
    </div>

</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script type="text/javascript">
        //cargar la fecha actual
        window.onload = function () {
            var fecha = new Date(); //Fecha actual
            var mes = fecha.getMonth() + 1; //obteniendo mes
            var dia = fecha.getDate(); //obteniendo dia
            var ano = fecha.getFullYear(); //obteniendo año
            if (dia < 10)
                dia = '0' + dia; //agrega cero si el menor de 10
            if (mes < 10)
                mes = '0' + mes //agrega cero si el menor de 10
            document.getElementById('fecha').value = ano + "-" + mes + "-" + dia;
        }

        //Cargar datos
        $(document).ready(function () {
            //cargar code de producto
            var IdProducto = $("select[name=idProducto]").val();
            $("#idPro").val(IdProducto);
            var Producto = $("select[name=idProducto] option:selected").text();
            $("#dato").val(Producto);
            //llenad o input
            $("#idPro").val(Producto);
            $("select[name=idProducto]").change(function () {
                var IdProducto = $("select[name=idProducto]").val();
                $("#idPro").val(IdProducto);
                var Producto = $("select[name=idProducto] option:selected").text();
                $("#idProducto").val(Producto);
                $("#dato").val(Producto);
            });
            //guardar detalle compra
            $("#btnEnviar").click(function () {
                var id = $("#idPro").val();
                var Producto = $("#idProducto").val();
                var dato = $("#dato").val();
                var cantidad = $("#cantidad").val();
                var precio = $("#precio").val();
                if (id == "" || Producto == "" || dato == "" || cantidad == "" || precio == "") {
                    alert("Faltan algunos datos.");
                }
                else {
                    var subtt1 = $("#subt1").val();
                    var subtotal = (cantidad * precio);
                    var contador = $("#fila").html();
                    var HTML = "<tr><td class='id'>" + id + "</td><td>" + dato + "</td><td>" + cantidad + "</td><td>" + precio + "</td><td>" + subtotal + "</td><td class='no'><button type='button' name='btnDelete' id='btnDelete' class='btn btn-danger btn-xs trash'>Eliminar</button></td></tr> ";
                    $("#fila").html(contador + HTML);
                    $("#idPro").val("");
                    $("#dato").val("");
                    $("#cantidad").val("");
                    $("#precio").val("");

                    var total = parseFloat(subtt1) + parseFloat(subtotal);
                    $("#subt1").val(total)
                    $("#total").val(total)
                    var sTotal = parseFloat(subtotal)
                    $("#subTotal").val(sTotal)
                    //var cantT = cantidad
                    //$("#cantidadTotal").val(cantT)
                    //var precioT = precio
                    //$("#PrecioT").val(precioT)
                }
            });
            //Elimnar filas
            $('body').on('click', 'button#btnDelete', function () {
                //manejo de totales
                var col = $(this).parents('tr');
                var subTotalEliminar = col.find("td:eq(4)").text();
                var totalAC = $("#subt1").val();
                var total1 = parseFloat(totalAC) - parseFloat(subTotalEliminar);
                $("#subt1").val(total1);
                $("#total").val(total1);
                //removiendo fila
                $(this).parents('tr').remove();
            });

            @*$("#btnEnviarF").click(function () {
                 //creando detalleCompra
                        $(".id").parent("tr").find("td:eq(0)").each(function () {
                            var columna = $(this).parents('tr');
                            $("#idPro").val( columna.find("td:eq(0)").text());
                            var Nombre = columna.find("td:eq(1)").text();
                            $("#cantidadTotal").val( columna.find("td:eq(2)").text())
                            $("#PrecioT").val(columna.find("td:eq(3)").text());
                            var Total = columna.find("td:eq(4)").text();
                            //var TotalP = columna.find("td:eq(5)").text();
                            var urlDetalle = '@Url.Action("DetallePrimaria", "Home")';
                            var dataDetalle = { idP: idProducto, nombre: Nombre, cantidad: Cantidad, precio: Precio, stotal: Total };

                            $.post(urlDetalle, dataDetalle)
                                .done(function (data) {
                                })
                                .fail(function (data) {
                                    console.log("Error: " + data.responseText);
                                }).
                                always(function () {
                                });

                        });
            });*@

        });
</script>
}
