@model ProyectoVentasAB.Models.tblProductos

@{
    ViewData["Title"] = "Producto";
}

<div class=" col-md-6 offset-md-3 col-sm-9 offset-md-1">
    <div class="card">
        <div class="card-header bg-warning">
            <h3 class="card-title text-center">Editar Producto</h3>
        </div>
        <div class="card-body">

            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdProducto" />
                <div class="form-group">
                    <label asp-for="NombreProducto" class="control-label"></label>
                    <input asp-for="NombreProducto" class="form-control" />
                    <span asp-validation-for="NombreProducto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FechaVencimiento" class="control-label"></label>
                    <input asp-for="FechaVencimiento" class="form-control" />
                    <span asp-validation-for="FechaVencimiento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descripcion" class="control-label"></label>
                    <input asp-for="Descripcion" class="form-control" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdCategoria" class="control-label"></label>
                    <input asp-for="IdCategoria" class="form-control" />
                    <span asp-validation-for="IdCategoria" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <hr />
                    <input type="submit" value="Guardar" class="btn btn-success" />
                    <a asp-action="Index" class="btn btn-warning">Regresar!</a>
                </div>
            </form>

        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
